<!DOCTYPE html>
<html lang="en" x-data="moechat">
<head>
    <meta charset="UTF-8">
    <title>MoeChat</title>
    <link rel="icon" type="image/jpg" href="/assets/img/default-avatar.png" />
    <script type="text/javascript" src="/assets/js/http_cdn.jsdelivr.net_npm_@unocss_runtime_attributify.global.js"></script>

    <script type="text/javascript" src="/assets/js/purify.min.js"></script>
    <script src="/assets/js/highlight.min.js"></script>
    <script src="/assets/js/highlight.index.umd.js"></script>
    <script src="/assets/js/marked.min.js"></script>
    <link rel="stylesheet" href="/assets/css/http_cdnjs.cloudflare.com_ajax_libs_highlight.js_11.9.0_styles_github.css">
    <link rel="stylesheet" href="/assets/css/pico.conditional.min.css">
    <style>
        [data-theme=light],
        :root:not([data-theme=dark]) {
            --pico-text-selection-color: #E7B6EE33;
            --pico-font-family-sans-serif: Inter, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
            --pico-font-size: 95%;
            /* Original: 100% */
            --pico-line-height: 1.1;
            /* Original: 1.5 */
            --pico-form-element-spacing-vertical: 0.5rem;
            /* Original: 1rem */
            --pico-form-element-spacing-horizontal: 1.0rem;
            /* Original: 1.25rem */
            --pico-border-radius: 0.375rem;
            /* Original: 0.25rem */
            --pico-typography-spacing-vertical: .5rem;
            /* Original: 1rem */
        }
    </style>
    <script type="text/javascript" src="/assets/js/XhrSource.js" defer></script>
    <script type="text/javascript" src="/assets/js/alpine.min.js" defer></script>
    <script>
        const { Marked } = window.marked;
        const { markedHighlight } = window.markedHighlight;

        const marked = new Marked(
            markedHighlight({
                gfm: true,
                langPrefix: 'hljs language-',
                escape: true,
                highlight(code, lang, info) {
                    const language = hljs.getLanguage(lang) ? lang : 'plaintext';
                    return hljs.highlight(code, { language }).value;
                },
            }),
        );
    </script>
    <link rel="stylesheet" href="/assets/css/tiny.tailwind.css">
</head>
<body flex overflow-hidden h-screen m-0>
    <aside x-init="devFetch($el)" x-show="switchShow.menu" flex flex-col w-15% justify-between bg-gray-50>
        {{template "aside.html"}}
    </aside>
    <main x-init="devFetch($el)" flex flex-col flex-auto>
        {{template "main.html"}}
    </main>
</body>
<script>
    document.addEventListener('alpine:init', event => {
        Alpine.data('moechat', event => ({
            async init() {
                await this.chats.post();
                await this.chat.post();
                await this.user.post();
            },
            async devFetch(el){
                let xText=el.innerText
                if (xText.includes('{') && xText.includes('}')) {
                    el.innerHTML= await (await fetch(xText.split('"')[1])).text()
                }
            },
            chat:{
                data:{
                    messages: [],
                },
                async post(url = ''){
                    let res =await (await fetch(url, { method: 'POST' })).json();
                    history.replaceState(null, '', url);
                    this.data=res
                    return res
                },
                async put(body){
                    let res =await (await fetch(``, {
                        method: 'PUT',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(body)
                    })).json()
                    return res
                },
            },
            chats: {
                data:[],
                async post(){
                    this.data = (await (await fetch('/chats', { method: 'POST' })).json()) || [];
                },
            },
            files:{
                messages:[],
                async post(event){
                    console.log(event.target)
                    this.messages = (await (await fetch('/file', { method: 'POST' ,body: new FormData(event.target.form)})).json()) || [];
                    event.target.form.reset()
                }
            },
            user:{
                data:{},
                show:false,
                async post(){
                    this.data = (await (await fetch('/user', { method: 'POST' })).json()) || {};
                }
            },
            switchShow:{
                menu:true,
                chatSetting:false,
                userSetting:false
            },
            ProviderModel: localStorage.ProviderModel||'',//下拉菜单的绑定，服务端不用
            systemPrompt:localStorage.systemPrompt||"",
            max_tokens:localStorage.max_tokens||4096,//上下文长度
            temperature:localStorage.temperature||0.7,//温度
            topk:localStorage.topk||40,//topk
            topp:localStorage.topp||0.9,//topp
            userContent: {
                'x-ref': 'userContent',
                '@keydown.enter'(event) {
                    const textarea = this.$refs.userContent;
                    if (!event.shiftKey) {
                        event.preventDefault()
                        console.log(this.systemPrompt)
                        if (this.systemPrompt !== "" && this.chat.data.messages[0]?.role !== "system") {
                            // Add system prompt as the first message in msgs
                            this.chat.data.messages.unshift({ role: "system", content: this.systemPrompt });
                        }
                        if (this.files.messages.length>0){
                            this.chat.data.messages.push({ content: "", role: "user" ,files:this.files.messages});
                            this.files.messages=[]
                        }
                        //todo html硬编码
                        this.chat.data.messages.push({ content:textarea.value, role: "user" });
                        textarea.value = '';
                        textarea.dispatchEvent(new Event('input'));
                        this.postCompletion();
                    }
                },
                '@input'(){
                    const textarea = this.$refs.userContent;
                    textarea.style.height = 'auto'; // 重置高度
                    const computed = window.getComputedStyle(textarea); // Get computed styles
                    const padding = parseFloat(computed.paddingTop) + parseFloat(computed.paddingBottom); // Calculate vertical padding
                    const border = parseFloat(computed.borderTopWidth) + parseFloat(computed.borderBottomWidth); // Calculate border widths
                    textarea.style.height = textarea.scrollHeight - padding - border + 'px'; // Adjust based on actual content height
                }
            },
            async postCompletion(){
                let chatForm={
                    provider : this.ProviderModel.split(':')[0], // 冒号前的部分
                    model :this.ProviderModel.split(':').slice(1).join(':'),// 冒号后的部分
                    messages: this.chat.data.messages,
                    max_tokens:this.max_tokens,//上下文长度
                    temperature:this.temperature,//温度
                    topk:this.topk,//topk
                    topp:this.topp,//topp
                }
                const xs = XhrSource('/chat/completion', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body:  JSON.stringify(chatForm)
                });
                xs.addEventListener('open', () => {
                    this.chat.data.messages.push({content: '', role: "assistant"});
                });
                xs.addEventListener('message', e => {
                    // 获取当前messages中的最后一条消息
                    const messages = this.chat.data.messages;
                    const lastMessage = messages[messages.length - 1];
                    // 将接收到的数据追加到最后一条消息的content中
                    if (lastMessage && lastMessage.role === "assistant") {
                        lastMessage.content += JSON.parse(e.data);
                        // window.hljs.highlightAll();
                    }
                });
                xs.addEventListener('close', async e => {
                    //流式响应结束后在这put /chat
                    //todo ai命名标题
                    this.chat.data.Title=this.chat.data.messages[0].content;
                    let res=await this.chat.put(this.chat.data)
                    history.replaceState(null, '', `/chat/${res.id}`);
                    console.log(`SSE connection closed,replaced history with ${res.id}`);
                    await this.chats.post()
                });
                xs.addEventListener('error', async e=> {
                    //todo:错误处理
                }, false);
            }
        }))
    })
</script>